<h3>Welcome to the Blackjack game!</h3>
<h5>What is your name?</h5>

<form action='/new_player' method='post'>
  Name: <input type='text' name='player_name'/>
  <br/>
  <input type='submit' class='btn'/>
</form>